<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <h1> <%= about %> </h1>
    <hr>
    <div id="contenedor-productos">
        <% products.forEach(prod => { %>
            <div class="card-producto">
                <img src="<%= prod.img_url %>" alt="<%= prod.nombre %>">
                <h5><%= prod.nombre %></h5>
                <p><%= prod.id %></p>
                <p><%= prod.categoria %></p>
                <p>$ <%= prod.precio %></p>
            </div>
        <% }) %>
    </div>
</main>

<%- include("partials/footer.ejs") %>